/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./packages/stories-block/src/css/core-themes/twentyeleven.css ***!
  \***************************************************************************************************************/
.web-stories-theme-header-section .web-stories-list {
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: none;
}

